.mb-element-legend {
    img {
        max-width: 100%;
    }

    .legend-source {
        margin-bottom: 20px;
    }

    .legend-title {
        display: block;
        width: 100%;
        font-weight: bold;
        font-size: 1.35em;
    }

    .legend-nodeTitle {
        display: block;
        margin: 5px 0 0 0;
        width: 100%;
        font-size: 1.2em;
    }

    .legend-layerTitle {
        display: block;
        margin: 5px 0 10px 0;
        width: 100%;
        font-weight: bold;
        font-size: 1.2em;
        color: #FFF;
        padding: 2px;
        background-color: rgba(155,155,155,0.8);
    }

    .legend-separator {
        display: block;
        width: 100%;
        height: 2px;
        background-color: rgba(155,155,155,0.8);
    }

    .legends-loader-container {
        display: flex;
        justify-content: center;
    }

    .legends-loader {
        border: 6px solid #f3f3f3; /* Light grey */
        border-top: 6px solid #d10a10; /* Blue */
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}
